<div class="container">
  <form #registerForm="ngForm" class="form-signin" (ngSubmit)="register(registerForm)">
    <h2 class="form-signin-heading">Регистрация</h2>
    <label for="inputLogin" class="sr-only">Логин</label>
    <input type="text" id="inputLogin" class="form-control" placeholder="Логин" name="login" required autofocus
           ngModel>
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" name="password" required
           ngModel>

    <label for="inputSurname" class="sr-only">Фамилия</label>
    <input type="text" id="inputSurname" class="form-control" placeholder="Фамилия" name="surname" required autofocus
           ngModel>

    <label for="inputName" class="sr-only">Имя</label>
    <input type="text" id="inputName" class="form-control" placeholder="Имя" name="name" required autofocus
           ngModel>

    <label for="inputPatr" class="sr-only">Отчество</label>
    <input type="text" id="inputPatr" class="form-control" placeholder="Отчество" name="patronymic" required autofocus
           ngModel>
    <div class="text-white">Паспортные данные</div>

    <label for="inputSeries" class="sr-only">Серия</label>
    <input type="text" id="inputSeries" class="form-control" placeholder="Серия" name="series" required autofocus
           ngModel>

    <label for="inputNumber" class="sr-only">Номер</label>
    <input type="text" id="inputNumber" class="form-control" placeholder="Номер" name="number" required autofocus
           ngModel>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
  </form>

</div>
